<div>
    <div class="flex flex-col gap-5">
        <!-- content -->
        <form [formGroup]="modalForm" class="flex flex-col gap-5">
            <div class="p-5 flex flex-col">
                <!-- Title -->
                <h3 class="text-2xl mb-5">Add new garage</h3>

                <!-- Inputs -->
                <mat-form-field class="w-full">
                    <mat-label>Garage area</mat-label>
                    <input formControlName="area" type="text" matInput>
                    <!-- Validation -->
                    @if(modalForm.get('area')?.invalid && modalForm.get('area')?.touched){
                        <mat-error>Area is required and must be at least 2 characters long.</mat-error>
                    }
                </mat-form-field>

                <!-- Status message -->
                @if(msg){
                    <div class="mt-5 text-base {{failed ? 'text-red-500' : 'text-green-700'}}">
                        {{msg}}
                    </div>
                }
            </div>

            <!-- Confirmation buttons -->
            <div class="py-2 px-5 flex gap-2 justify-end bg-gray-200 rounded-b-md">
                <app-btn (click)="toggleModal()" [type]="'button'" [text]="'Close'" [textColorClass]="'text-white'" [bgColorClass]="'bg-red-500'"></app-btn>
                <app-btn (click)="onSubmit()" [type]="'submit'" [text]="'Add'" [textColorClass]="'text-white'" [bgColorClass]="'bg-green-700'"></app-btn>
            </div>
        </form>
    </div>
</div>